*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
#pass{
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(129deg, rgba(2,0,36,1) 0%, rgba(19,19,121,1) 35%); 
   align-items: center;
   justify-content: center;
   display: flex;
}
#pass .password{
   display: flex;
   padding: 10px;
}
#pass .password .pass_change{
   padding: 10px;
   border: 0;
   outline: 0;
}
#pass .password .btn{
   display: flex;
}
#pass .password button{
   padding: 10px;
   border: 0;
   background: #1a09d2;
}
#pass .password  .eye2{
   display: none;
}